*.git
*.bin
*.class
*.log
*.lock
*.cfg
*.gz
*.settings
*.launch
*.idea
*.iml
*.ipr
*.iws
/bin
/build
/config
/crash-reports
/eclipse
/logs
/mods
/resourcepacks
/run
/saves
/Radiant & Spectral Joules
usernamecache.json
usercache.json
options.txt
.classpath
out/production/Radiant-Spectral-Joules_main/META-INF/Radiant-Spectral-Joules_main.kotlin_module
